@import url('https://fonts.googleapis.com/css2?family=Cinzel');

/*---- MAIN LAYOUT ELEMENTS ----*/

html{
  height: 100%;
}

body {
  display: grid;
  font-family: "Cinzel", sans-serif;
  grid-template-rows: 75px 1fr min-content;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

footer{
  background-color: rgb(239, 237, 241);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  text-align: center;
  z-index: 1;
}

header{
  background-color: rgb(239, 237, 241);
  box-shadow: 0px -0px 50px rgba(0, 0, 0, 1);
  display: grid;
    grid-template: auto min-content/auto max-content min-content;
    grid-template-areas: "title" "count" "add"
                         "sort" "sort" "sort";
  padding: 20px;
  z-index: 1;
}

main{
  background-color: rgb(255, 255, 255);
  text-align: center;
}

main h3{
  margin-top: 100px;
}

/*---- HEADER LAYOUT & CONTENT ----*/

.addBook{
  align-items: center;
  display: flex;
  grid-area: "add";
}

.addBookButton{
  height: 2rem;
}

.bookCount{
  align-items: center;
  display: flex;
  grid-area: "count";
  margin: 0 20px;
}

.bookCountText{
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.modalBackground{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.modalContent{
  background-color: rgb(255, 255, 255);
  height: 400px;
  margin: 10% auto;
  max-width: 500px;
  min-width: 250px;
  position: relative;
}

.modalInactive{
  display: none;
}

.sortBooks{
  grid-area: "sort";
}

.title{
  align-items: center;
  display: flex;
  grid-area: "title";
}

.titleText{
  margin: 0;
  padding: 0;
}